/* Variables */

$color-one: #ffffff;
$color-two: #654b42; 

$color-three: #e67e22;
$font-text: 'Josefin Sans', sans-serif;
$font-header: 'RocknRoll One', sans-serif;
$transition: ease-in-out 2.5s;


/* Global */

*, *::before, *::after {
	box-sizing: border-box;
}

body {
    text-align: center;
    margin: 0;
    background: #ffffff;
    color: #ecf0f1;
    font-size: 18px;
    line-height: 1.7;
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    max-width: 1140px;
    margin: center 0;
    padding: 0 20px;
}

.section {
    padding: 96px 0;
}

/* Navigation */

nav {
    padding: 0;
}

.navigation ul {
    list-style-type: none;
    color: white;
    margin-right: 20px;
    position: absolute;
    right: 0;
    padding: 0;
}

.navigation ul li {
    display: inline-block;  
    margin: 0 36px 0 0;
    position: relative;
}

.navigation a {
    text-decoration: none;
    color: #ffffff;
}


.navigation ul ul li {
    display: block;
    margin: 0 0 9px 0;
}

.navigation li ul {
    display: none;
    left: -60%;
    
    padding: 12px 0 0 0;
}

.navigation li:hover ul {
    display: block;
    text-align: center;
    position: absolute;
}

.navigation li ul a {
    color: #ffffff  ;
    padding: 0 24px;
    display: block;
}
    
.navigation li ul a:hover {
    color: #ffffff;
}   

/* Header */

header {
    background: #ffffff;
    background-image: url("https://i.postimg.cc/7YJ3TLSV/WALNUT-LEITH-MODERN-BED-WITH-CHARCOAL-LINEN-BEDDING.jpg");
    color: #ffffff;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
    display: flex;
}

.splash-inner {
    margin: auto;
    max-width: 80%;
}

.page-title {
    margin: 0;
    font-size: 40px;
    word-spacing: 10px;
    line-height: 1.2;
    font-weight: 100;
}

.page-subtitle {
    margin-top: 0px;
    word-spacing: 6px;
    font-weight: 700;
    font-size: 60px;
    color: #ffffff;
}


    
.btn {
    display: inline-block;
    min-width: 160px;
    margin: auto;
    padding: 16px;
    border-radius: 5px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 19px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 0.1px;
    border-style: solid;
    background-color: inherit;
    background-position: 100% 0;
    background-size: 200%;
}

.btn:hover {
    background-position: 100% 0;
    background-size: 4%;   
}

.btn-one {
    color: #ffffff;
    background: none;
}
.btn-one:hover {
    transition: $transition;
    background-image: linear-gradient(-90deg, #654b42 40%, transparent 50%);
    color: #ffffff;
}




/* Our Services */

.our-services-title {
    flex-wrap: flex;
    min-width: 200px;
    font-weight: bold;
    margin: 30px;
    font-size: 40px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:0;
    width: 10;
}

.our-services-subtitle {
    margin-top: 0;
    font-size: 15px;
    margin-bottom: 35px;
}

.our-services {
    font-size: 15px;
    background-color: white;
    color: black;
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
    margin-bottom: 35px;
}

.row .card i {
    font-size: 40px;
    width: 80px;
    height: 80px;
    line-height: 1.9;
    color:#654b42; 
    border-radius: 50%;
    border: 4px solid#654b42;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;
}



.row .box .page-subtitle {
    font-weight: bold;
}


    

/* Our portfolio */

.our-portfolio {
    font-size: 15px;
    background-color: rgb(223, 217, 217);
    color: black;
   
    padding: 16px 0;
    margin: 0 auto;
}

.our-portfolio-title {
    flex-wrap: flex;
    min-width: 200px;
    font-weight: bold;
    margin: 30px;
    font-size: 40px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:0;
    width: 10;
}

.our-portfolio-subtitle {
    margin-top: 0;
    font-size: 15px;
    margin-bottom: 35px;
}

.container {
     max-width: 1140px;
     padding: 0 20px;
     margin: 0 auto;
}













